In [1]:
name='aiyesha'
print(name)

aiyesha

In [2]:
Fullname='Aiyesha Talat'
Print(Fullname)

NameError: name 'Print' is not defined

In [3]:
Fullname='Aiyesha Talat'
print(Fullname)

Aiyesha Talat

In [4]:
1Fullname='Aiyesha Talat'
print(1Fullname)

SyntaxError: invalid decimal literal (2811966757.py, line 1)

In [5]:
full@name='Aiyesha Talat'
print(full@name)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (883340311.py, line 1)

In [6]:
full name ='Aiyesha Talat'
print(full name)

SyntaxError: invalid syntax (2896615749.py, line 1)

In [7]:
type(fullname)

NameError: name 'fullname' is not defined

In [8]:
Fullname='Aiyesha Talat'
type(Fullname)

str

In [9]:
fullname='Aiyesha Talat'
print(fullname.title())

Aiyesha Talat

In [11]:
fullname ='aiyesha talat'
print(fullname.title())

Aiyesha Talat

In [12]:
first_name ='aiyesha'
print(first_name.upper())

AIYESHA

In [13]:
first_name ='AIYESHA'

In [14]:
print(first_name.lower())

aiyesha

In [17]:
firstname = 'aiyesha'
lastname='talat'
fullname=f"my firstname is {firstname} and my lastname is {lastname}"
print(fullname)

my firstname is aiyesha and my lastname is talat

In [18]:
firstname = 'aiyesha'
lastname='talat'
fullname=f"my firstname is {firstname.upper()} and my lastname is {lastname.upper()}"
print(fullname)

my firstname is AIYESHA and my lastname is TALAT

In [19]:
firstname = 'AIYESHA'
lastname='TALAT'
fullname=f"my firstname is {firstname.lower()} and my lastname is {lastname.lower()}"
print(fullname)

my firstname is aiyesha and my lastname is talat

In [20]:
firstname = 'aiyesha'
lastname='talat'
fullname=f"my firstname is {firstname.title()} and my lastname is {lastname.title()}"
print(fullname)

my firstname is Aiyesha and my lastname is Talat

In [21]:
languages ='english,/nurdu,/narabic'
print(languages)

english,/nurdu,/narabic

In [34]:
languages ='english\nurdu\ntelugu'
print(languages)

english
urdu
telugu

In [35]:
languages ='english\turdu\thindi'
print(languages)

english	urdu	hindi

In [37]:
Fullname= '     Aiyesha Talat'
print(Fullname.lstrip())

Aiyesha Talat

In [38]:
fullname= 'Aiyesha Talat   '
print(fullname.rstrip())

Aiyesha Talat

In [40]:
fullname= '   Aiyesha Talat   '
print(fullname.strip())

Aiyesha Talat